body,h1,h2,h4{
  margin: 0;
}
img{
  vertical-align: top;
}
a{
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  font-size: 12px;
}
input{
  border: none;
  padding: 0;
}
