[v-cloak]{
  display: none;
}

body,html,#app{
  margin: 0;
  padding: 0;
  height:100%;
}

header{
  background-color: lightgreen;
  color:#222;
  overflow: hidden;
  text-align: center;
}
header nav{
  background-color: green;
  padding:15px 0;
  text-align: center;
}
header nav a{
  display: inline-block;
  text-decoration:none;
  padding:5px 20px;
  color:#fff;
  font-size:16px;
}

.wrap{
  height:100%;
  background-color: #eee;
  padding-left:200px;
}

.side-nav{
  width:200px;
  height:100%;
  background-color: #555555;
  float:left;
  margin-left:-200px;
}
ul{
  margin: 0;
  padding:10px 0;
  list-style:none;
}

ul a{
  text-decoration:none;
  color:#ccc;
}
ul li{
  padding:5px 20px;
  border-bottom:1px solid #666;
}

.main{
  padding-left:10px;
}

footer{
  padding:20px 0;
  background-color: #222;
  color:lightgreen;
  text-align:center;
}

.router-link-active{
  background-color: red;
}


